{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	
{% endfor %}
<h1>Dashboard</h1>
<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
	{% if current_user.is_authenticated %}
  		Hi {{ current_user.firstName}} {{ current_user.lastName}}!
		  
	{% endif %}
    <p>You are now logged in</p>
	
	<h2>Student Details</h2>
    <a href="/edit_student"><button type="button" class="btn btn-primary">Edit details</button></a>

	<br><br>
    <h2>Modules</h2>
    <a href="/enroll_module"><button type="button" class="btn btn-primary">Module Enrollment</button></a>
    <a href="/view_modules"><button type="button" class="btn btn-primary">View Module</button></a>

	<br><br>
    <h2>Scores</h2>
	<a href="/add_scores"><button type="button" class="btn btn-primary">Add Test Score</button></a>
    <a href="/view_score"><button type="button" class="btn btn-primary">View Test Score</button></a>
	<br><br>
    <a href="{{url_for('logout')}}">Logout</a>
</div>

{% endblock %}